body {
  padding: 50px;
  background-color: gray;
}

h1 {
  color: blue;
}

p {
  background-color: #e9e9e9;
  padding: 20px;
}

.frase{
   color: aqua;
   font-size: 3em;
}

.button{
  background-color: brown;
}