header {
  width: 100%;
  margin-top: 20px;
  height: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #007bff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  padding-left: 100px;
}

.menu {
  padding-right: 20px;
}

header a {
  color: #fff;
  font-size: 20px;
  margin-left: 20px;
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
}
